<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <input type="text" class="form-control" name="firstname" placeholder="First Name" [(ngModel)]="model.firstname" #firstname="ngModel" required>
    <div *ngIf="firstname.touched && firstname.invalid" class="alert alert-danger">
      <div *ngIf="firstname.errors['required']">First Name is required</div>
    </div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="lastname" placeholder="Last Name" [(ngModel)]="model.lastname">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="username" placeholder="User Name" [(ngModel)]="model.username" required #username="ngModel">
    <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
        <div *ngIf="username.errors['required']">User Name is required</div>
      </div>
  </div>
 
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="model.password" required #password="ngModel"> 
    <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
        <div *ngIf="password.errors['required']">Password is required</div>
    </div>
  </div>

  <div class="form-group">
    <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="model.email" required #email="ngModel">
    <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
        <div *ngIf="email.errors['required']">Email is required</div>
    </div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="phone" placeholder="Phone" [(ngModel)]="model.phone" required #phone="ngModel">
    <div *ngIf="phone.touched && phone.invalid" class="alert alert-danger">
        <div *ngIf="phone.errors['required']">Phone is required</div>
    </div>
  </div>

  <div class="form-group">
    <input type="text" bsDatepicker class="form-control" name="dob" placeholder="Date of Birth" [(ngModel)]="model.dob" required #dob="ngModel">
    <div *ngIf="dob.touched && dob.invalid" class="alert alert-danger">
        <div *ngIf="dob.errors['required']">Date of Birth is required</div>
    </div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="address" placeholder="Address" [(ngModel)]="model.address" required #address="ngModel">
    <div *ngIf="address.touched && address.invalid" class="alert alert-danger">
        <div *ngIf="address.errors['required']">Address is required</div>
    </div>
  </div>

  <div class="form-group">
    <span><b>I am a:  </b></span>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" [(ngModel)]="model.gender" checked>
      <label class="form-check-label" for="inlineRadio1">Male</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2" [(ngModel)]="model.gender">
      <label class="form-check-label" for="inlineRadio2">Female</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="3" [(ngModel)]="model.gender">
      <label class="form-check-label" for="inlineRadio2">Other</label>
    </div> 
 </div>
  
  <div class="form-group text-center">
    <button class="btn btn-success mr-1" type="submit">Register</button>
    <button (click)="cancel()" class="btn btn-default" type="button">Cancel</button>
  </div>
  
</form>